{
    "extends": [
        "airbnb-typescript"
    ],
    "parserOptions": {
        "project": "tsconfig.json"
    },
    "rules": {
        "react/react-in-jsx-scope": "off",
        "react/prop-types": "off",
        "import/no-extraneous-dependencies": [
            "error",
            {
                "devDependencies": [
                    "**/*.test.ts",
                    "**/*.test.tsx",
                    "./src/setupTests.ts",
                    "./src/mocks/*"
                ]
            }
        ]
    }
}